@use "partials/colors" as *;
@use "partials/mixins" as *;
@use "partials/variables" as *;
@use "partials/keyframes" as *;


body, html {
  background-color: #57413c;
  color: #ffffff;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0rem;
}

h4 {
  margin: 0rem;
}

h5 {
  margin: 0;

}

.tv {
  background: url(../assets/images/tvbg.png), url(../assets/images/jeapardy2.png);
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__top-card-container {
    width: 62rem;
    height: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top-card {
    background-color: rgb(25, 0, 136);
    border-radius: 1rem;
    border: 2px solid rgb(255, 253, 121);
    box-sizing: border-box;
    height: 2rem;
    width: 30%;
  }

  &__trivia-card-container {
    width: 70%;
    height: 30rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  &__trivia-card-question {
    background: url(../assets/images/ron1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    border: 2px solid rgb(110, 1, 110);
    box-sizing: border-box;
    width: 42%;
    z-index: 1;
  }

  &__trivia-card-answer {
    background-color: rgb(25, 0, 136);
    border-radius: 1rem;
    border: 2px solid rgb(255, 253, 121);
    box-sizing: border-box;
    width: 42%;
  }

  &__reset-card-container {
    width: 62rem;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__reset-card {
    background-color: rgb(9, 0, 48);
    border-radius: 1rem;
    border: 2px solid rgb(255, 253, 121);
    box-sizing: border-box;
    width: 25%;
    color: white;
  }
}